* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
}

.center {
  display: flex;
  margin: 0 auto;
  max-width: 1100px;
}

.header {
  padding-top: 8px;
  background-color: white;
  border-bottom: 2px solid rgb(200, 200, 200);
}

.header__logo {
  width: 50%;
}

.header__loginForm {
  width: 50%;
  text-align: right;
}

.header__loginForm input[type=text],
.header__loginForm input[type=password]{
  padding: 0.5% 2%;
  margin-left: 2%;
  border: 0;
  background-color: #f2f2f2;
  border-radius: 20px;
  font-size: 14px;
}

.header__loginForm input[type=submit] {
  padding: 0.5% 2%;
  margin-left: 2%;
  border: 0;
  font-size: 14px;
  background-color: #0095f6 !important;
  border-radius: 20px;
  font-weight: bold;
}
