* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
}

.center {
  display: flex;
  margin: 0 auto;
  max-width: 1100px;
  padding: 0 2%;
}

.header {
  padding-top: 8px;
  background-color: white;
  border-bottom: 2px solid rgb(200, 200, 200);
  
}

.header__logo {
  width: 50%;
  display: inline-block;
}

.header__loginForm {
  width: 50%;
  text-align: right;
  display: inline-block;
}

.header__loginForm form {
  display: inline-flex;
}

.header__loginForm input[type=text],
.header__loginForm input[type=password]{
  padding: 10px;
  margin-left: 2%;
  border: 0;
  background-color: #f2f2f2;
  border-radius: 20px;
  height: 20px;
  display: inline-block;
}

.header__loginForm input[type=submit]{
  padding: 0 10px;
  margin-left: 2%;
  border: 0;
  background-color: #0095f6 !important;
  border-radius: 20px;
  height: 20px;
  color: white;
  display: inline-block;  
}

.btn__criarConta a{
  font-size: 13px;
  text-decoration: none;
  padding-left: 10px;
  display: inline-block;
}

.header__logadoInfo {
  text-align: right;
  width: 50%;
}

.header__logadoInfo a{
  margin-left: 4%;
  text-decoration: none;
  padding: 1px 5px;
  background-color: #0095f6;
  color: white;
  border-radius: 20px;
}